{{#each this}}<a class="photo-card-link" href="{{this.largeImageURL}}">
<div class="photo-card">
  <img class="img-card" src="{{this.webformatURL}}" alt="" loading="lazy" />
  <div class="info">
    <p class="info-item">
      <b>Likes:</b>{{this.likes}}
    </p>
    <p class="info-item">
      <b>Views:</b>{{this.views}}
    </p>
    <p class="info-item">
      <b>Comments:</b>{{this.comments}}
    </p>
    <p class="info-item">
      <b>Downloads:</b>{{this.downloads}}
    </p>
  </div>
</div>
</a>
 {{/each}}